@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground: #FFFF;
  --background: #cb7204;
  }

body {
  color: var(--foreground);
  background: var(--background);
}
::selection{
  color: #ffbb29;
  }