@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --header: #FFFF;
  --body: #fcdcbe;
  --background: theme(colors.snow);
  }

body {
  background: var(--background);
}

h1 {
  color: theme('colors.DGreen');
  text-align: center;
  font-size: 4em;
  padding-left: 5%; padding-right: 5%; padding-bottom: 2%;
}

p{
  color: theme('colors.rose');
  text-align: center;
  font-size: 1em;
  padding-left: 5%; padding-right: 5%;padding-bottom: 1%;
}

::selection{
  color: #1b2961;
  }