/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./node_modules/tailwindcss/base.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
@tailwind base;

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./node_modules/tailwindcss/components.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
@tailwind components;

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./node_modules/tailwindcss/utilities.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
@tailwind utilities;

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
:root {
  --header: #FFFF;
  --body: #fcdcbe;
  --background: #cb7204;
  }

body {
  color: var(--body);
  background: var(--background);
  text-align: center;
  font-size: 1em;
  padding-left: 5%; padding-right: 5%;
}

h1 {
  color: var(--header);
  font-size: 4em;
}
::selection{
  color: #1b2961;
  }
